.container {
    height: 50vh;
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;
}

.input, .button {
    width: 400px;
    height: 30px;
    padding: 0 10px;
}

.textArea {
    width: 400px;
    height: 100px;
    padding: 0 10px;
}

.button {
    background-color: #9370DB;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: #9400D3;
    transition: all ease 1s;
}


@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .input, .button, .textArea {
        width: 300px;
    }
}