@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Barlow Condensed', sans-serif, 'Press Start 2P';
  color: #FFF;
}

body {
  background-color: #131417;
}

